* {box-sizing: border-box;}
* {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

header{
  background-image: linear-gradient(to right, blue , purple);
  background-color: lightblue; /* For browsers that do not support gradients */
    height: 150px;
    width: 100%;
    text-align: center;
    color: white;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 50px;
   }
header h2{
  padding-top: 40px;
  font-size: 40px;
}

/* CARDS */
.main-body{
  flex-basis: auto;
  flex-wrap: wrap;
}

  .btn{
      color: blue;
      background-color: burlywood;
      border-style: groove;
      border-color: black;
      max-width: 25%;
      min-width: 5vw;
      font-size: 1vw;
      margin: 10px;
     }


  #city{
font-size: x-large;
text-transform: capitalize;

  }


p{
  color: white;
  font-size: x-large;
}
H1{
  color: black;
  font-size: x-large;
}



#city-search-term{
  color: white;
  font-size: xx-large;
  text-decoration: underline;
}
#clear{
  margin-top: 40px;
  margin-bottom: 10px;
}
#submit-button{
  margin-top: 10px;

}
  #city-search-term{
    text-transform: capitalize;
  }
  .middle{
    background-color: rgb(122, 118, 118);
    border-color: red;
    border-width: thick;
    margin-left: 450px; /* Same as the width of the sidenav */
    margin-top: 51px;
    padding: 0px 10px;
    width: 30vw;
    height: 400px;
   flex: auto;
   font-size: 40px;
   font-weight: bolder;
   }

#weather-box{
 
  background-color: black;
}
.column {
  width: 200px;
  height: 200px;
  margin: 10px;
  float: left;
  background-color: lightblue;
}  
  #five-day{
    
padding-top: 40px;

  }
    .weather-Information {
      padding: 0;
      list-style: none;
    }

   


