header{
  background-image: linear-gradient(to right, blue , purple);
  background-color: lightblue; /* For browsers that do not support gradients */
    height: 150px;
    width: 100%;
    text-align: center;
    color: white;
   }
header h2{
  padding-top: 40px;
}

/* CARDS */
.card {
    margin: 0 0 20px 0;
    border-color: black;
    border-style: groove;
    width: 300px;
    margin: 10px;
    
    
  }
  
  .card-header {
    color: var(--primary);
    background-color: lightblue;
    padding: 2.5%;
    border-color: black;
    border-style: groove;
    max-width: 300px;
    
  }
  
  .card-body {
    padding: 2.5%;
    background-color: lightgray;
    border-color: black;
    border-style: groove;
   max-width: 300px;
    padding: 30px;
  }
  
  .btn{
      color: blue;
      background-color: burlywood;
      margin-top: 10px;
  }

  .sidebar{
    background-color: grey;
    padding: 10px;
    max-width: 450px;
    height: 500px;
    left: 100%;
    margin: 10px;
  }
